BasedOnStyle: Microsoft
NamespaceIndentation: All
FixNamespaceComments: false
IncludeCategories:
  - Regex:           'pch'
    Priority:        100
    SortPriority:    -100
    CaseSensitive:   true
