# Refer to https://github.com/shadowsocks/shadowsocks-rust/blob/93f0fb7fa9e3d5a421616bf1da3d649e3f1c4b17/.cargo/config.toml

[target.'cfg(target_arch = "x86_64")']
rustflags = [
    "-C",
    "target-feature=+sse,+sse2,+sse3,+ssse3,+sse4.1,+sse4.2,+avx,+avx2,+aes,+pclmulqdq",
]

[target.'cfg(target_arch = "x86")']
rustflags = ["-C", "target-feature=+sse,+sse2,+sse3,+ssse3"]

[target.'cfg(target_arch = "aarch64")']
rustflags = ["-C", "target-feature=+neon,+aes,+sha2,+crc"]

[unstable]
build-std = ["std", "panic_abort"]
